/* Lunar Ledger */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans:wght@300&family=Schoolbell&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  background-image: linear-gradient(
    to bottom,
    #002c3f,
    #004570,
    #185ca3,
    #5d6fd2,
    #a77bf9
  );
}

body,
html {
  margin: 0;
  padding: 0;
}

.bigWrap {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.formContainer {
  width: 650px;
  width: 70vw;
  height: 600px;
  background-color: #dfdfdf;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  animation: fadeIn 0.5s forwards;
}

.genContainer {
  position: relative;
  width: 100%;
  height: 70%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  transition: 0.4s all;
}
.genContainer div.c-line {
  position: absolute;
  height: 1px;
  width: 120px;
  background-color: rgba(6, 62, 183, 0.325);
  text-align: center;
}
.genContainer div.c-line#top {
  top: 24%;
  width: 18%;
}
.genContainer div.c-line#bottom {
  bottom: 24%;
  width: 18%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.8rem;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  padding: 10px;
  color: #005c82;
}
h1 span {
  font-size: 2.6rem;
}
h1 span i {
  transform: rotate(-10deg);
}

h2,
h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
h2 i,
h3 i {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #005c82;
  font-size: 40px;
}

h2#directions {
  color: rgb(112, 112, 112);
  font-size: 1.2rem;
}

.mainrow1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.mainchild1 {
  opacity: 0;
  animation: fadeIn 0.5s 0.4s forwards;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

hr {
  opacity: 0;
  width: 95%;
  color: rgba(6, 62, 183, 0.325);
  border: solid 0.2px;
}
hr#firstHR {
  animation: fadeIn 0.5s 0.4s forwards;
}
hr#secondHR {
  animation: fadeIn 0.5s 0.8s forwards;
}

@media (min-width: 1300px) {
  .formContainer {
    width: 860px;
  }
}
.mainrow2 {
  opacity: 0;
  animation: fadeIn 0.5s 0.6s forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 65%;
  border-radius: 10px;
}

.mainchild2 {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 10px;
}

p#username {
  font-size: 1.3rem;
}

p#signIn {
  font-size: 1rem;
  margin-top: 0;
}
p#signIn a {
  text-decoration: none;
  color: #005c82;
}
p#signIn a:hover {
  text-decoration: underline;
}

i#userImg {
  font-size: 2.5rem;
  color: #005c82;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.mainrow3 {
  opacity: 0;
  animation: fadeIn 0.5s 0.8s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  position: relative;
}

i#hiddenRocket {
  margin: 0;
  color: #002c3f;
  font-size: 35px;
  z-index: 0;
  position: absolute;
  top: 20px;
  transition: 0.2s all;
  transform: rotate(-90deg);
}

.btn {
  color: #fff;
  border-radius: 20px;
  background-color: #005c82;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.4s all;
}
.btn:hover {
  cursor: pointer;
  background-color: #002c3f;
}

.nameGenBtn {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
}

.selectImg {
  position: relative;
  padding: 12px;
  font-size: 1.3rem;
}

.selectUser {
  position: relative;
}

button.ready {
  margin-top: auto;
  margin-bottom: auto;
  padding: 12px;
  font-size: 1.3rem;
  z-index: 3;
}

@media (max-width: 1124px) {
  div.c-line {
    display: none;
  }
}
@media (max-width: 528px) {
  h1 {
    font-size: 2rem;
  }
  h1 span {
    font-size: 2rem;
  }
  h2#directions {
    font-size: 1rem;
  }
  .genContainer {
    grid-template-columns: 1fr;
    height: 80%;
  }
  .mainrow1 {
    height: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
